<ion-toolbar class="header_detail" [ngClass]="pokemonLoaded ? pokemon.tipos[0].detalleTipo.name : ''">
  <h1 class="name_bg" [innerText]="pokemon.name"></h1>
  <div class="header_container">
    <ion-img
    *ngIf="pokemonLoaded"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.id }}.png"
      alt="pokemon.name" class="img">
    </ion-img>
    <div class="information_container">
      <p class="id" [innerText]="pokemon.id"></p>
      <h1 class="name" [innerText]="pokemon.name"></h1>
      <div class="pokemon_types">
        <div *ngFor="let type of pokemon.tipos" class="type {{ type.detalleTipo.name }}">
          <ion-img src="assets/types/{{ type.detalleTipo.name }}.svg" alt="{{ type.detalleTipo.name }}"
            class="type_icon" />
          <p class="type_name">{{ type.detalleTipo.name }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-toolbar>

<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="about">
      About
    </ion-tab-button>
    <ion-tab-button tab="stats">
      Stats
    </ion-tab-button>
    <ion-tab-button tab="evolution">
      Evolution
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>