<div class="container">
  <p class="description">Bulbasaur can be seen napping in bright sunlight. There is a seed on its back. By soaking up
    the sun's rays, the
    seed grows progressively larger.</p>
  <h2 class="title_detail grass">Pokédex Data</h2>
  <div class="data_container">
    <h3 class="subtitle_detail">Species</h3>
    <p class="data">Seed Pokémon</p>
    <h3 class="subtitle_detail">Height</h3>
    <p class="data">0.7m (2′04″)</p>
    <h3 class="subtitle_detail">Weight</h3>
    <p class="data">6.9 kg (15.2 lbs)</p>
    <h3 class="subtitle_detail">Weaknesses</h3>
    <div class="weknesses_container">
      
    </div>
  </div>
</div>