$color-type-bug: #8cb230;
$color-type-dark: #58575f;
$color-type-dragon: #0f6ac0;
$color-type-electric: #eed535;
$color-type-fairy: #ed6ec7;
$color-type-fighting: #d04164;
$color-type-fire: #fd7d24;
$color-type-flying: #748fc9;
$color-type-ghost: #556aae;
$color-type-grass: #62b957;
$color-type-ground: #dd7748;
$color-type-ice: #61cec0;
$color-type-normal: #9da0aa;
$color-type-poison: #a552cc;
$color-type-psychic: #ea5d60;
$color-type-rock: #baab82;
$color-type-steel: #417d9a;
$color-type-water: #4a90da;
$bg-type-bug: #8bd674;
$bg-type-dark: #6f6e78;
$bg-type-dragon: #7383b9;
$bg-type-electric: #f2cb55;
$bg-type-fairy: #eba8c3;
$bg-type-fighting: #eb4971;
$bg-type-fire: #ffa756;
$bg-type-flying: #83a2e3;
$bg-type-ghost: #8571be;
$bg-type-grass: #8bbe8a;
$bg-type-ground: #f78551;
$bg-type-ice: #91d8df;
$bg-type-normal: #b5b9c4;
$bg-type-poison: #9f6e97;
$bg-type-psychic: #ff6568;
$bg-type-rock: #d4c294;
$bg-type-steel: #4c91b2;
$bg-type-water: #58abf6;