<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button class="filter_button" (click)="openModal('generation')">
        <ion-icon src="assets/home/filter-generation.svg" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="filter_button" (click)="openModal('sort')">
        <ion-icon src="assets/home/filter-sort.svg" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="filter_button" (click)="openModal('general')">
        <ion-icon src="assets/home/filter-general.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1 class="title">Pokédex</h1>
      <p class="description">Search for Pokémon by name or using the National Pokédex number.</p>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="What Pokémon are you looking for?"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngFor="let pokemon of pokemonList" class="pokemon_card {{pokemon.tipos[0].detalleTipo.name}}">
      <div class="pokemon_information">
        <p class="pokemon_id">#{{ pokemon.id }}</p>
        <h3 class="pokemon_name">{{ pokemon.name }}</h3>
        <div class="pokemon_types">
          <div *ngFor="let type of pokemon.tipos" class="type {{ type.detalleTipo.name }}">
            <ion-img src="assets/types/{{ type.detalleTipo.name }}.svg" alt="{{ type.detalleTipo.name }}"
              class="type_icon" />
            <p class="type_name">{{ type.detalleTipo.name }}</p>
          </div>
        </div>
      </div>
      <ion-img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.id }}.png"
        alt="{{ pokemon.name }}" class="pokemon_img" />
    </div>
  </div>
</ion-content>

<app-modal-filter id="modal-filter"></app-modal-filter>