ion-header,
ion-toolbar,
ion-content {
    --background: #ffffff;
}

ion-title {
    --color: #17171b;
}

ion-searchbar {
    --background: #f2f2f2;
    --color: #747476;
}

.title {
    font-family: "SF Pro Display", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #17171b;
}

.description {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #747476;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    gap: 30px;
}

.pokemon_card {
    width: 334px;
    height: 115px;
    border-radius: 10px;
    padding: 20px;
    background-image: url("/assets/backgrounds/pokemon-card-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.pokemon_card .pokemon_information {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
}

.pokemon_card .pokemon_information .pokemon_id {
    color: rgba(23, 23, 27, 0.6);
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.pokemon_card .pokemon_information .pokemon_name {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
}

.pokemon_card .pokemon_img {
    position: absolute;
    top: -25px;
    right: 10px;
    width: 130px;
    height: 130px;
}