/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "/src/theme/_colors.scss";

.pokemon_types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    gap: 5px;
}

.pokemon_types .type {
    display: inline-flex;
    padding: 5px;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    height: 25px;
}

.pokemon_types .type .type_icon {
    width: 15px;
    height: 15px;
}

.pokemon_types .type .type_name {
    text-align: center;
    font-family: "SF Pro Display", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.pokemon_card.bug,
.header_detail.bug {
    background-color: $bg-type-bug;
    --background: $bg-type-bug;
}

.pokemon_card.dark,
.header_detail.dark {
    background-color: $bg-type-dark;
    --background: $bg-type-dark;
}

.pokemon_card.dragon,
.header_detail.dragon {
    background-color: $bg-type-dragon;
    --background: $bg-type-dragon;
}

.pokemon_card.electric,
.header_detail.electric {
    background-color: $bg-type-electric;
    --background: $bg-type-electric;
}

.pokemon_card.fairy,
.header_detail.fairy {
    background-color: $bg-type-fairy;
    --background: $bg-type-fairy;
}

.pokemon_card.fighting,
.header_detail.fighting {
    background-color: $bg-type-fighting;
    --background: $bg-type-fighting;
}

.pokemon_card.fire,
.header_detail.fire {
    background-color: $bg-type-fire;
    --background: $bg-type-fire;
}

.pokemon_card.flying,
.header_detail.flying {
    background-color: $bg-type-flying;
    --background: $bg-type-flying;
}

.pokemon_card.ghost,
.header_detail.ghost {
    background-color: $bg-type-ghost;
    --background: $bg-type-ghost;
}

.pokemon_card.grass,
.header_detail.grass {
    background-color: $bg-type-grass;
    --background: $bg-type-grass;
}

.pokemon_card.ground,
.header_detail.ground {
    background-color: $bg-type-ground;
    --background: $bg-type-ground;
}

.pokemon_card.ice,
.header_detail.ice {
    background-color: $bg-type-ice;
    --background: $bg-type-ice;
}

.pokemon_card.normal,
.header_detail.normal {
    background-color: $bg-type-normal;
    --background: $bg-type-normal;
}

.pokemon_card.poison,
.header_detail.poison {
    background-color: $bg-type-poison;
    --background: $bg-type-poison;
}

.pokemon_card.psychic,
.header_detail.psychic {
    background-color: $bg-type-psychic;
    --background: $bg-type-psychic;
}

.pokemon_card.rock,
.header_detail.rock {
    background-color: $bg-type-rock;
    --background: $bg-type-rock;
}

.pokemon_card.steel,
.header_detail.steel {
    background-color: $bg-type-steel;
    --background: $bg-type-steel;
}

.pokemon_card.water,
.header_detail.water {
    background-color: $bg-type-water;
    --background: $bg-type-water;
}

.type.bug {
    background-color: $color-type-bug;
}

.type.dark {
    background-color: $color-type-dark;
}

.type.dragon {
    background-color: $color-type-dragon;
}

.type.electric {
    background-color: $color-type-electric;
}

.type.fairy {
    background-color: $color-type-fairy;
}

.type.fighting {
    background-color: $color-type-fighting;
}

.type.fire {
    background-color: $color-type-fire;
}

.type.flying {
    background-color: $color-type-flying;
}

.type.ghost {
    background-color: $color-type-ghost;
}

.type.grass {
    background-color: $color-type-grass;
}

.type.ground {
    background-color: $color-type-ground;
}

.type.ice {
    background-color: $color-type-ice;
}

.type.normal {
    background-color: $color-type-normal;
}

.type.poison {
    background-color: $color-type-poison;
}

.type.psychic {
    background-color: $color-type-psychic;
}

.type.rock {
    background-color: $color-type-rock;
}

.type.steel {
    background-color: $color-type-steel;
}

.type.water {
    background-color: $color-type-water;
}

.title_detail {
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
}

.title_detail.bug {
    color: $color-type-bug;
}

.title_detail.dark {
    color: $color-type-dark;
}

.title_detail.dragon {
    color: $color-type-dragon;
}

.title_detail.electric {
    color: $color-type-electric;
}

.title_detail.fairy {
    color: $color-type-fairy;
}

.title_detail.fighting {
    color: $color-type-fighting;
}

.title_detail.fire {
    color: $color-type-fire;
}

.title_detail.flying {
    color: $color-type-flying;
}

.title_detail.ghost {
    color: $color-type-ghost;
}

.title_detail.grass {
    color: $color-type-grass;
}

.title_detail.ground {
    color: $color-type-ground;
}

.title_detail.ice {
    color: $color-type-ice;
}

.title_detail.normal {
    color: $color-type-normal;
}

.title_detail.poison {
    color: $color-type-poison;
}

.title_detail.psychic {
    color: $color-type-psychic;
}

.title_detail.rock {
    color: $color-type-rock;
}

.title_detail.steel {
    color: $color-type-steel;
}

.title_detail.water {
    color: $color-type-water;
}